.tabs .tabs-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  overflow-x: auto;
  border-bottom: 2px solid #c5cfd9;
  margin-bottom: 24px;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 12px 20px;
  background-color: transparent;
  color: var(--link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.12px;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: nowrap;
  transition: color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.tabs .tabs-list button:hover {
  color: var(--dark-color);
  background-color: transparent;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  color: var(--text-color);
  border-bottom: 3px solid var(--dark-color);
  background-color: transparent;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: 0;
  padding: 0;
  border: none;
  overflow: visible;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
